:root{
    /* --color-principal: #0040aeb3; */
    --color-principal: #000000b3;
    --color-secundario: #7a4053dc;
    --color-hover: #424242;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FjallaOne;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    background: var(--color-principal);
    width: 100%;
    display: flex;
    align-items: center;

}

.menu_izquierda {
    list-style: none;
    flex-direction: row;
}

.menu_izquierda li {
    flex-direction: row;
    display: inline-block;
    text-align: center;
}

.menu_izquierda li a {
    color:#fff;
    text-decoration: none;
    display: block;
    padding: 22px;
}

.menu_izquierda li a:hover {
    background: var(--color-hover);
}

.menu_derecha li a:hover {
    background: var(--color-hover);
}

.barra_izquierda, .barra_derecha{
    margin: 0;
    flex: 1;
}
.logo_center {
    flex: 1;
    text-align: center;
}

.menu_derecha {
    list-style: none;
    text-align: end;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    backdrop-filter: 0;
    gap: 5px;
}

.menu_derecha li {
    text-align: end;
    flex-direction: row;
    display: inline-block;
}

.menu_derecha li a {
    color:#fff;
    text-decoration: none;
    display: block;
    padding: 22px; 
}

.footer {
    background-color: var(--color-principal);
    justify-content: flex-end;
}